@media(max-width: 1715px) {
   .container {
      padding: 0 150px;
   }
}

@media(max-width: 1600px) {
   .header .nav .ul > *:not(:last-child) {
      margin: 0 25px 0 0;
   }
   .header .nav .ul .link {
      padding: 10px 20px;
      font-size: 31px;
      line-height: 40px;
   }
   .page12 .page1_body .page1_text {
      padding: 30px 85px;
      font-size: 37px;
      line-height: 51px;
   }
   .header .nav .logo a {
      font-size: 43px;
      line-height: 23px;
   }
}

@media(max-width: 1400px) {
   .container {
      padding: 0 100px;
   }
}

@media(max-width: 1300px) {
   .header .nav .ul > *:not(:last-child) {
      margin: 0 20px 0 0;
   }
   .header .nav .ul .link {
      padding: 7px 15px;
      font-size: 27px;
      line-height: 35px;
   }
   .page12 .page1_body .page1_text {
      padding: 20px 80px;
      font-size: 33px;
      line-height: 51px;
   }
   .header .nav .logo a {
      font-size: 40px;
      line-height: 23px;
   }
   .page1 {
      background: url('../img/bg1.jpg') -120px 0 / cover no-repeat;
   }
}

@media(max-width: 1150px) {
   .container {
      padding: 0 50px;
   }
   .page1 {
      background: url('../img/bg1.jpg') -200px 0 / cover no-repeat;
   }
}

@media(max-width: 1100px) {
   .page1 {
      background: url('../img/bg1.jpg') -250px 0 / cover no-repeat;
   }
}

@media(max-width: 1050px) {
   .page1 {
      background: url('../img/bg1.jpg') -300px 0 / cover no-repeat;
   }
}

@media(max-width: 1000px) {
   .header {
      padding: 30px 0;
   }
   .header .nav .ul > *:not(:last-child) {
      margin: 0 15px 0 0;
   }
   .header .nav .ul .link {
      padding: 5px 12px;
      font-size: 23px;
      line-height: 30px;
   }
   .page12 .page1_body .page1_text {
      padding: 20px 80px;
      font-size: 31px;
      line-height: 50px;
   }
   .page12 {
      padding: 400px 0 100px 0;
   }
   .page1 {
      background: url('../img/bg1.jpg') -200px 0 / cover no-repeat;
   }
   .header .nav .logo a {
      font-size: 37px;
      line-height: 20px;
   }
}

@media(max-width: 900px) {
   .header {
      padding: 30px 0;
   }
   .header .nav .ul > *:not(:last-child) {
      margin: 0 10px 0 0;
   }
   .header .nav .ul .link {
      padding: 5px 10px;
      font-size: 20px;
      line-height: 25px;
   }
   .page12 .page1_body .page1_text {
      padding: 20px 80px;
      font-size: 28px;
      line-height: 47px;
      width: 600px;
   }
   .page12 {
      padding: 380px 0 90px 0;
   }
   .page1 {
      background: url('../img/bg1.jpg') -220px 0 / cover no-repeat;
   }
   .header .nav .logo a {
      font-size: 37px;
      line-height: 20px;
   }
}

@media(max-width: 800px) {
   .header {
      padding: 20px 0;
   }
   .header .nav .ul > *:not(:last-child) {
      margin: 0 5px 0 0;
   }
   .header .nav .ul .link {
      font-size: 18px;
      line-height: 25px;
   }
   .page12 .page1_body .page1_text {
      padding: 20px 80px;
      font-size: 28px;
      line-height: 47px;
      width: 600px;
   }
   .page12 {
      padding: 360px 0 90px 0;
   }
   .page1 {
      background: url('../img/bg1.jpg') -220px 0 / cover no-repeat;
   }
   .header .nav .logo a {
      font-size: 32px;
      line-height: 20px;
   }
}

@media(max-width: 700px) {
   .header {
      padding: 20px 0;
      background: rgb(86, 68, 45);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 50;
   }
   .header .nav .ul .link:hover {
      background: #2b1d1d;
   }
   .container {
      padding: 0 20px;
   }
   .header .nav .ul .link {
      font-size: 18px;
      line-height: 25px;
   }
   .page12 .page1_body .page1_text {
      padding: 20px 80px;
      font-size: 28px;
      line-height: 47px;
      width: 600px;
   }
   .page12 {
      padding: 360px 0 90px 0;
   }
   .page1 {
      background: url('../img/bg1.jpg') -180px 0 / cover no-repeat;
   }
   .header .nav .logo a {
      font-size: 32px;
      line-height: 20px;
   }
}

@media(max-width: 600px) {
   .header .nav .ul .link {
      font-size: 16px;
      line-height: 20px;
   }
   .page12 .page1_body .page1_text {
      font-size: 23px;
      line-height: 43px;
      width: 450px;
   }
   .page12 {
      padding: 200px 0 100px 0;
      overflow: hidden;
   }
   .page1 {
      background: rgb(151, 142, 142) 0 0 / cover no-repeat;
      overflow: hidden;
   }
   .header .nav .logo a {
      font-size: 29px;
   }
   .img1 {
      display: block;
      margin: 0 auto;
   }
   .img2 {
      display: block;
   }
   .img1 img {
      width: 100%;
      height: 320px;
      filter: grayscale(100%);
   }
   .img2 img {
      width: 100%;
      height: 320px;
   }
   .img2 {
      width: 100%;
      position: absolute;
      top: 0;
      max-height: 0;
      overflow: hidden;
      border-bottom: 1px solid #000;
      transition: all .5s ease;
   }
   .col {
      position: relative;
   }
   .info {
      width: 90%;
      box-sizing: border-box;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
   }
   .page12 .page1_body .page1_text {
      margin: 0 auto;
      overflow: hidden;
      max-height: 0;
      transition: all .5s ease;
      padding: 0 50px;
   }
   .col:hover .page1_text {
      max-height: 200px;
      padding: 20px 50px;
   }
   .col:hover .img2 {
      max-height: 320px;
   }
}

@media(max-width: 550px) {
   .header .nav .ul .link {
      font-size: 15px;
   }
   .page12 .page1_body .page1_text {
      font-size: 23px;
      line-height: 43px;
      width: 400px;
   }
   .page12 {
      padding: 200px 0 80px 0;
      overflow: hidden;
   }
   .header .nav .logo a {
      font-size: 25px;
   }
   .img1 {
      display: block;
      margin: 0 auto;
   }
   .img2 {
      display: block;
   }
   .info {
      width: 90%;
      box-sizing: border-box;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
   }
   .page12 .page1_body .page1_text {
      padding: 0 45px;
   }
   .col:hover .page1_text {
      max-height: 200px;
      padding: 15px 45px;
   }
   .col:hover .img2 {
      max-height: 280px;
   }
   .img1 img {
      height: 280px;
   }
   .img2 img {
      height: 280px;
   }
}

@media(max-width: 500px) {
   .header .nav .ul > *:not(:last-child) {
      margin: 0;
   }
   .header .nav .ul .link {
      font-size: 14px;
      line-height: 20px;
   }
   .page12 .page1_body .page1_text {
      font-size: 20px;
      line-height: 43px;
      width: 100%;
   }
   .header .nav .logo a {
      font-size: 25px;
   }
   .img1 {
      display: block;
      margin: 0 auto;
   }
   .img2 {
      display: block;
   }
   .page12 .page1_body .page1_text {
      padding: 0 45px;
   }
   .col:hover .page1_text {
      max-height: 200px;
      padding: 15px 45px;
   }
   .col:hover .img2 {
      max-height: 250px;
   }
   .img1 img {
      height: 250px;
   }
   .img2 img {
      height: 250px;
   }
}

@media(max-width: 450px) {
   .header .nav .ul .link {
      font-size: 12px;
   }
   .page12 .page1_body .page1_text {
      font-size: 18px;
      line-height: 43px;
   }
   .page12 {
      padding: 220px 0 180px 0;
   }
   .header .nav .logo a {
      font-size: 20px;
   }
   .img1 {
      display: block;
      margin: 0 auto;
   }
   .img2 {
      display: block;
   }
   .page12 .page1_body .page1_text {
      padding: 0 45px;
   }
   .col:hover .page1_text {
      max-height: 200px;
      padding: 15px 45px;
   }
   .col:hover .img2 {
      max-height: 230px;
   }
   .img1 img {
      height: 230px;
   }
   .img2 img {
      height: 230px;
   }
   .container {
      padding: 0 10px;
   }
}

@media(max-width: 400px) {
   .header .nav .ul .link {
      padding: 3px 8px;
      font-size: 11px;
   }
   .page12 .page1_body .page1_text {
      font-size: 16px;
      line-height: 35px;
   }
   .page12 {
      padding: 220px 0 180px 0;
   }
   .header .nav .logo a {
      font-size: 19px;
   }
   .page12 .page1_body .page1_text {
      padding: 0 40px;
   }
   .col:hover .page1_text {
      max-height: 180px;
      padding: 15px 40px;
   }
   .col:hover .img2 {
      max-height: 210px;
   }
   .img1 img {
      height: 210px;
   }
   .img2 img {
      height: 210px;
   }
   .container {
      padding: 0 10px;
   }
}

@media(max-width: 350px) {
   .header .nav .ul .link {
      padding: 3px 5px;
      font-size: 10px;
   }
   .page12 .page1_body .page1_text {
      font-size: 14px;
      line-height: 25px;
   }
   .page12 {
      padding: 220px 0 180px 0;
   }
   .header .nav .logo a {
      font-size: 19px;
   }
   .page12 .page1_body .page1_text {
      padding: 0 40px;
   }
   .col:hover .page1_text {
      max-height: 180px;
      padding: 15px 40px;
   }
   .col:hover .img2 {
      max-height: 190px;
   }
   .img1 img {
      height: 190px;
   }
   .img2 img {
      height: 190px;
   }
}

@media(max-width: 300px) {
   .header .nav .ul .link {
      padding: 3px 5px;
      font-size: 9px;
   }
   .page12 .page1_body .page1_text {
      font-size: 14px;
      line-height: 20px;
   }
   .header .nav .logo a {
      font-size: 17px;
   }
   .page12 .page1_body .page1_text {
      padding: 0 20px;
   }
   .col:hover .page1_text {
      max-height: 180px;
      padding: 15px 20px;
   }
   .col:hover .img2 {
      max-height: 170px;
   }
   .img1 img {
      height: 170px;
   }
   .img2 img {
      height: 170px;
   }
}
