* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-size: inherit;
  font-weight: 400;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Tiro Devanagari Hindi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tirodevanagarihindi/v3/55xyezN7P8T4e0_CfIJrwdodg9HoYw0i-M9fSA.ttf) format('truetype');
}
.wrapper {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff;
}
.title {
  font-family: 'Tiro Devanagari Hindi', serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  border-radius: 10px;
  padding: 10px 72px;
  color: #fff;
  cursor: pointer;
}
.text {
  font-size: 32px;
  line-height: 47px;
  letter-spacing: 0.05em;
  width: 474px;
  padding: 14px 20px;
  border-radius: 20px;
  transition: all .5s ease;
}
.center1 {
  display: flex;
  align-items: center;
}
.center2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center21 {
  display: flex;
  justify-content: center;
}
.center3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center31 {
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 0 200px;
}
a {
  text-decoration: none;
}
.page1 {
  background: url('../img/bg1.jpg') 0 0 / cover no-repeat;
}
.header {
  padding: 50px 0;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .logo a {
  font-size: 48px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.header .nav .ul {
  display: flex;
  align-items: center;
}
.header .nav .ul .link_head {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  color: #fff;
  transition: all .5s ease;
}
.header .nav .ul .link_head:hover {
  background: #543636;
}
.header .nav .ul .link_head:active {
  color: #675b5b;
}
.header .nav .ul > *:not(:last-child) {
  margin: 0 30px 0 0;
}
.page12 {
  padding: 500px 0 114px 0;
}
.page12 .page1_body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page12 .page1_body .page1_text {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  padding: 30px 85px;
  text-align: center;
  font-size: 40px;
  line-height: 59px;
  width: 784px;
}
.img1 {
  display: none;
}
.img2 {
  display: none;
}
.page_text {
  display: flex;
  align-items: center;
  padding: 205px 0 305px 0;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 49px 0 0 0;
}
.page11 {
  background: url('../img/bg10.jpg') 0 0 / cover no-repeat;
}
.page11 .page1_link_series {
  background: rgba(75, 39, 13, 0.6);
  transition: all .5s ease;
}
.page11 .page1_link_series:hover {
  background: rgba(56, 30, 11, 0.6);
}
.page11 .page1_link_series:active {
  color: #a19b9b;
}
.page11 .page_text {
  justify-content: end;
}
.page11 .page_text .text {
  background: rgba(0, 0, 0, 0.5);
}
.img121 {
  display: none;
}
.img122 {
  display: none;
}
.page02 {
  background: url('../img/bg20.jpg') 0 0 / cover no-repeat;
}
.page02 .page1_link_series {
  background: rgba(66, 56, 49, 0.6);
  transition: all .5s ease;
}
.page02 .page1_link_series:hover {
  background: rgba(31, 27, 24, 0.6);
}
.page02 .page1_link_series:active {
  color: #a19b9b;
}
.page02 .page_text {
  justify-content: start;
}
.page02 .page_text .text {
  background: rgba(0, 0, 0, 0.6);
}
.page03 {
  background: url('../img/bg30.jpg') 0 0 / cover no-repeat;
}
.page03 .page1_link_series {
  background: rgba(46, 42, 38, 0.75);
  transition: all .5s ease;
}
.page03 .page1_link_series:hover {
  background: rgba(11, 10, 10, 0.6);
}
.page03 .page1_link_series:active {
  color: #a19b9b;
}
.page03 .page_text {
  justify-content: end;
}
.page03 .page_text .text {
  background: rgba(0, 0, 0, 0.75);
}
.page04 {
  background: url('../img/bg40.jpg') 0 0 / cover no-repeat;
}
.page04 .page1_link_series {
  background: rgba(11, 10, 10, 0.6);
  transition: all .5s ease;
}
.page04 .page1_link_series:hover {
  background: rgba(6, 5, 5, 0.75);
}
.page04 .page1_link_series:active {
  color: #a19b9b;
}
.page04 .page_text {
  justify-content: start;
}
.page04 .page_text .text {
  background: rgba(0, 0, 0, 0.75);
}
.page05 {
  background: url('../img/bg50.jpg') 0 0 / cover no-repeat;
}
.page05 .page1_link_series {
  background: rgba(45, 43, 43, 0.75);
  transition: all .5s ease;
}
.page05 .page1_link_series:hover {
  background: rgba(31, 31, 31, 0.83);
}
.page05 .page1_link_series:active {
  color: #a19b9b;
}
.page05 .page_text {
  justify-content: end;
}
.page05 .page_text .text {
  background: rgba(0, 0, 0, 0.75);
}
.footer {
  background: #73604F;
  padding: 39px 0 50px 0;
}
.footer .footer_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.1em;
}
.footer .footer_link_soces {
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer_link_soces a img {
  height: 50px;
  width: 50px;
}
.footer .footer_link_soces > *:not(:last-child) {
  margin: 0 40px 0 0;
}
.page1_link_series2 {
  z-index: 40;
}
.Series1 {
  background: #573b1b 0 0 / cover no-repeat;
}
.Series1 .page1_link_series {
  background: rgba(75, 39, 13, 0.6);
  transition: all .5s ease;
}
.Series1 .page1_link_series:hover {
  background: rgba(56, 30, 11, 0.6);
}
.Series1 .page1_link_series:active {
  color: #a19b9b;
}
.title1 {
  text-align: center;
  margin: 10px 0 0 0;
}
.Series2 {
  background: #51504e 0 0 / cover no-repeat;
}
.Series2 .page1_link_series {
  background: rgba(66, 56, 49, 0.6);
  transition: all .5s ease;
}
.Series2 .page1_link_series:hover {
  background: rgba(31, 27, 24, 0.6);
}
.Series2 .page1_link_series:active {
  color: #a19b9b;
}
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 100px 0;
}
.video video {
  width: 1100px;
  height: 700px;
}
.Series3 {
  background: #433125 0 0 / cover no-repeat;
}
.Series3 .page1_link_series {
  background: rgba(46, 42, 38, 0.75);
  transition: all .5s ease;
}
.Series3 .page1_link_series:hover {
  background: rgba(11, 10, 10, 0.6);
}
.Series3 .page1_link_series:active {
  color: #a19b9b;
}
.Series4 {
  background: #362e1b 0 0 / cover no-repeat;
}
.Series4 .page1_link_series {
  background: rgba(11, 10, 10, 0.6);
  transition: all .5s ease;
}
.Series4 .page1_link_series:hover {
  background: rgba(36, 31, 31, 0.75);
}
.Series4 .page1_link_series:active {
  color: #a19b9b;
}
.Series5 {
  background: #2b3228 0 0 / cover no-repeat;
}
.Series5 .page1_link_series {
  background: rgba(45, 43, 43, 0.75);
  transition: all .5s ease;
}
.Series5 .page1_link_series:hover {
  background: rgba(31, 31, 31, 0.83);
}
.Series5 .page1_link_series:active {
  color: #a19b9b;
}
.ul.active {
  top: 0;
}
.menu_burger {
  display: none;
}
.menu_burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all .3s ease 0s;
}
.menu_burger:before,
.menu_burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.menu_burger:before {
  top: 0;
  transition: all .3s ease 0s;
}
.menu_burger:after {
  bottom: 0;
  transition: all .3s ease 0s;
}
.menu_burger.active span {
  transform: scale(0);
}
.menu_burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.menu_burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
